- @page_title = "作製一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p ※素材名・強さは前回所持していたアイテムを参照しているため、アイテムを今回手に入れた素材から作製した場合や、アイテム手渡しで受け取った素材から作製した場合、「強さ」を表示できません。
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "更新回", params_name: "result_no_form", placeholder: nil, colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "作製Eno", params_name: "e_no_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "作製キャラクター名", params_name: "pc_name_form", placeholder: "Name")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "依頼Eno", params_name: "requester_e_no_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "依頼キャラクター名", params_name: "requester_pc_name_form", placeholder: "Name")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "種類", params_name: "kind_form", placeholder: "ItemKind")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "強さ", params_name: "strength_form")

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_world",
                    label: {open: "所属世界で絞り込む", close: "所属世界で絞り込みを隠す"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "所属世界", params_name: "world_form", colspan: 3, 
                    checkboxes: [{label: "イバラシティ", params_name: "is_ibaracity", class_name: "after_space mobile_br"},
                                 {label: "アンジニティ", params_name: "is_ansinity"}])

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_source",
                    label: {open: "素材を表示する", close: "素材を隠す"}, base_first: true)
    %tbody
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "素材名", params_name: "source_name_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "強さ", params_name: "source_strength_form")

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_name",
                    label: {open: "装備名を表示する", close: "装備名を隠す"}, base_first: true)
    %tbody
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "装備名", params_name: "name_form", colspan: 3)

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_fuka",
                    label: {open: "付加を表示する", close: "付加を表示しない"}, base_first: false)
    %tbody.closed
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "効果1or武器", params_name: "effect_1_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "効果値", params_name: "effect_1_value_form", placeholder: "Number")
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "効果2or防具", params_name: "effect_2_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "効果値", params_name: "effect_2_value_form")
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "効果3or装飾", params_name: "effect_3_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "効果値", params_name: "effect_3_value_form")

    - #==========================================================================================================================
    %tbody
      %tr.sep
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@makes)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,"更新回", default_order: :desc)
      %th= sort_link(@search, :e_no,"作製者(Eno)", default_order: :desc)
      - if @form_params["show_source"] == "1" 
        %th.sep= sort_link(@search, :source_name, "素材名", default_order: :desc)
        %th.sep= sort_link(@search, :last_item_strength, "素材強さ", default_order: :desc)
      - if @form_params["show_name"] == "1" 
        %th.sep= sort_link(@search, :name, "装備名", default_order: :desc)
      %th.sep= sort_link(@search, :kind_id, "種類", default_order: :desc)
      %th= sort_link(@search, :strength, "強さ", default_order: :desc)
      - if @form_params["show_fuka"] == "1" 
        %th.sep= sort_link(@search, :item_effect_1_id, "効果1", default_order: :desc)
        %th= sort_link(@search, :item_effect_1_value, "効果値", default_order: :desc)
        %th.sep= sort_link(@search, :item_effect_2_id, "効果2", default_order: :desc)
        %th= sort_link(@search, :item_effect_2_value, "効果値", default_order: :desc)
        %th.sep= sort_link(@search, :item_effect_3_id, "効果3", default_order: :desc)
        %th= sort_link(@search, :item_effect_3_value, "効果値", default_order: :desc)
      %th.sep{colspan: "4"} 結果リンク
  %tbody
    - @makes.each do |make|
      %tr
        %td= make.result_no
        %td{style: "#{ world_border(make.world) }" }= pc_name_text(make.e_no, make.pc_name)
        - if @form_params["show_source"] == "1" 
          %td.sep= make.source_name
          %td= make.last_item.strength if make.last_item
        - if @form_params["show_name"] == "1" 
          %td.sep= make.name
        %td.sep= make.kind.name if make.kind
        %td= make.strength
        - if @form_params["show_fuka"] == "1" 
          %td.sep{colspan: 2}
            = make.item.effect_1.name if make.item && make.item.effect_1
            = make.item.effect_1_value if make.item && make.item.effect_1_value > 0
          %td.sep{colspan: 2}
            = make.item.effect_2.name if make.item && make.item.effect_2
            = make.item.effect_2_value if make.item && make.item.effect_2_value > 0
          %td.sep{colspan: 2}
            = make.item.effect_3.name if make.item && make.item.effect_3
            = make.item.effect_3_value if make.item && make.item.effect_3_value > 0
        %td.sep= character_link_text(make.e_no, "作製者")
        %td= character_old_link(@latest_result, make.e_no, make.result_no, make.generate_no)
        %td.sep= character_link_text(make.requester_e_no, "依頼者")
        %td= character_old_link(@latest_result, make.requester_e_no, make.result_no, make.generate_no)
= paginate(@makes)
