- @page_title = "キャラクター名・PL名一覧"
%h1= @page_title
%p{style: "font-size:x-large;"}
  = link_to "⇒本番：荊街データ小屋", "https://data.teiki.org/ibara/names"

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "更新回", params_name: "result_no_form", placeholder: nil, colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "Eno", params_name: "e_no_form", placeholder: "Number")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "pc_name_form", placeholder: "Name")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "PL", params_name: "player_form", placeholder: "Name")

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_world",
                    label: {open: "所属世界で絞り込む", close: "所属世界で絞り込みを隠す"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "所属世界", params_name: "world_form", colspan: 3, 
                    checkboxes: [{label: "イバラシティ", params_name: "is_ibaracity", class_name: "after_space mobile_br"},
                                 {label: "アンジニティ", params_name: "is_ansinity"}])

    - #==========================================================================================================================
    %tbody
      %tr.sep
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button

= paginate(@names)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,"更新回", default_order: :desc)
      %th= sort_link(@search, :e_no,"キャラクター(Eno)", default_order: :desc)
      %th= sort_link(@search, :player, "PL", default_order: :desc)
      %th{colspan: "2"} 結果リンク
  %tbody
    - @names.each do |name|
      %tr
        %td= name.result_no
        %td{style: "#{ world_border(name.world) }" }= pc_name_text(name.e_no, name)
        %td= name.player
        %td= character_link(name.e_no)
        %td= character_old_link(@latest_result, name.e_no, name.result_no, name.generate_no)
= paginate(@names)
