%h1 荊街データ小屋
%p
  このサイトでは
  %a.animation{:href => "http://lisge.com/ib/", :target => "_blank"} 騒乱イバラシティ
  を解析して得られる情報を扱っています。
%br
%p= top_text(@latest_result, @latest_generate, @uploaded_result)

.card.top
  .card-body
    %h2 サイトマップ
    .row
      .col-md-6
        %ul
          %li 個人データ
          %ul  
            %li= link_to "現在地一覧", places_path
            %li= link_to "パーティ情報一覧", party_infos_path
            %li= link_to "スタイル一覧", styles_path
            %li= link_to "影響力一覧", effects_path
            %li= link_to "その他ステータス一覧", statuses_path
            %br
            %li= link_to "所持アイテム一覧", items_path
            %li= link_to "所持異能・生産一覧", superpowers_path
            %li= link_to "所持スキル一覧", skills_path
            %ul
              %li= link_to "スキル習得者数ランキング", skills_path + "?show_total=1&exclude_initial_active=on&exclude_initial_passive=on&ex_sort=on"
            %li= link_to "所持カード一覧", cards_path
            %li= link_to "スキル研究一覧", studies_path
            %ul
              %li= link_to "スキル研究ランキング", studies_path + "?group_skill=on&ex_sort=on"
      .col-md-6
        %ul
          %li 行動データ
          %ul  
            %li= link_to "合成一覧", compounds_path
            %ul
              %li= link_to "合成結果一覧", compounds_path + "?result_no_form=""&compound_deficient_lv=off&group_result=on"
              %li= link_to "合成組み合わせ一覧", compounds_path + "?result_no_form=""&group_source=on"
            %li= link_to "移動一覧", moves_path
            %li= link_to "次回予告NPC戦一覧", next_battle_infos_path
          %li 戦闘データ
          %ul  
            %li= link_to "スキル・付加発動結果一覧", battle_actions_path
            %ul
              %li= link_to "スキル発動回数ランキング", battle_actions_path + "?act_type_fuka=off&show_group=1&group_page=off&total_act=on&ex_sort=on"
              %li= link_to "付加発動回数ランキング", battle_actions_path +   "?act_type_skill=off&show_group=1&group_page=off&total_act=on&ex_sort=on"
          %li グラフデータ
          %ul  
            %li= link_to "所属世界グラフ", world_graphs_path
          %li 新出データ
          %ul  
            %li= link_to "新出アイテム付加一覧", new_item_fukas_path
            %li= link_to "新出発動スキル・付加一覧", new_actions_path
          %ul  

.card.top
  .card-body
    %h2 更新履歴
    %ul
      %li 2019/3/14
      %ul
        %li
          = link_to "新出アイテム付加一覧", new_item_fukas_path
          、
          = link_to "新出発動スキル・付加一覧", new_actions_path
          を公開
      %li 2019/3/12
      %ul
        %li
          = link_to "スキル・付加発動結果一覧", battle_actions_path
          において、戦闘の種類が全てENCOUNTERになっていた不具合を修正
        %li
          = link_to "移動一覧", moves_path
          において、チェックポイントを正しく取得できなかった不具合を修正（本家プロフィール画面で道路アイコンとなっているため、移動地形合計では道路として扱います）
        %li
          = link_to "所持アイテム一覧", items_path
          において、効果1～3の付加枠をまとめて検索するフォームを追加。付加枠ごとの個別検索を初期表示で非表示に
        %li
          = link_to "スキル・付加発動結果一覧", battle_actions_path
          において、付加LVでの検索を追加
      %li 2019/3/11
      %ul
        %li
          = link_to "所持スキル一覧", skills_path
          にスキル習得者数の表示機能、初期アクティブスキル・パッシブスキルの除外機能を追加
        %li
          所持スキル一覧の検索条件を指定した
          = link_to "スキル習得者数ランキング", skills_path + "?show_total=1&exclude_initial_active=on&exclude_initial_passive=on&ex_sort=on"
          を公開
      %li 2019/3/9
      %ul
        %li
          = link_to "スキル・付加発動結果一覧", battle_actions_path
          において、「結果別に表示」選択時に「発動回数」など一部項目でソートができない不具合を修正
          %br
          また、「発動回数ランキング」リンクからページを見た直後にソートすると表示項目が変わってしまう不具合を修正
        %li
          = link_to "スキル研究ランキング", studies_path + "?group_skill=on&ex_sort=on"
          、
          = link_to "スキル・付加発動結果一覧", battle_actions_path
          の「発動回数」など一部の項目でのソート時に、他の項目のように「▼」を表示するように

      %li 2019/3/8
      %ul
        %li 
          = link_to "スキル・付加発動結果一覧", battle_actions_path
          を公開
        %li 
          スキル・付加発動結果一覧の検索条件を指定した
          = link_to "スキル発動回数ランキング", battle_actions_path + "?act_type_fuka=off&show_group=1&group_page=off&total_act=on&ex_sort=on"
          、
          = link_to "付加発動回数ランキング", battle_actions_path +   "?act_type_skill=off&show_group=1&group_page=off&total_act=on&ex_sort=on"
          を公開
      %li 2019/3/3
      %ul
        %li 
          = link_to "移動一覧", moves_path
          、
          = link_to "次回予告NPC戦一覧", next_battle_infos_path
          を公開
      %li 2019/2/27
      %ul
        %li 
          = link_to "パーティ情報一覧", party_infos_path
          を公開
      %li 2019/2/25
      %ul
        %li 
          = link_to "合成一覧", compounds_path
          を公開
        %li 
          合成一覧の検索条件を指定した
          = link_to "合成結果一覧", compounds_path + "?result_no_form=""&compound_deficient_lv=off&group_result=on"
          、
          = link_to "合成組み合わせ一覧", compounds_path + "?result_no_form=""&group_source=on"
          を公開
        %li 
          スキル研究一覧の検索条件を指定した
          = link_to "スキル研究ランキング", studies_path + "?group_skill=on&ex_sort=on"
          を公開
      %li 2019/2/24
      %ul
        %li 
          = link_to "スタイル一覧", styles_path
          、
          = link_to "影響力一覧", effects_path
          、
          = link_to "その他ステータス一覧", statuses_path
          を公開
        %li 
          = link_to "所持スキル一覧", skills_path
          にスタイルでの絞り込み機能を追加
      %li 2019/2/23
      %ul
        %li 
          = link_to "所持アイテム一覧", items_path
          、
          = link_to "所持異能・生産一覧", superpowers_path
          、
          = link_to "所持スキル一覧", skills_path
          に指定キャラのパーティメンバーでの絞り込み機能を追加
        %li 
          = link_to "所持カード一覧", cards_path
          、
          = link_to "スキル研究一覧", studies_path
          を公開
      %li 2019/2/20
      %ul
        %li サイト公開
