%h1 荊街データ小屋
%p
  このサイトでは
  %a.animation{:href => "http://lisge.com/ib/", :target => "_blank"} 騒乱イバラシティ
  を解析して得られる情報を扱っています。
  %br
%p{style: "font-size:x-large;"} 
  = link_to "⇒前期：荊街テストプレイ データ小屋", "https://data.teiki.org/ibara_0/"
%br
%p= top_text(@latest_result, @latest_generate, @uploaded_result)

.card.top
  .card-body
    %h2 サイトマップ
    .row
      .col-md-6
        %ul
          %li 個人データ
          %ul  
            %li= link_to "キャラクター名・PL名一覧", names_path
            %br
            %li= link_to "現在地一覧", places_path
            %li= link_to "パーティ情報一覧", party_infos_path
            %li= link_to "スタイル一覧", styles_path
            %li= link_to "影響力一覧", effects_path
            %li= link_to "その他ステータス一覧", statuses_path
            %br
            %li= link_to "エイド一覧", aides_path
            %li= link_to "所持アイテム一覧", items_path
            %li= link_to "所持異能・生産一覧", superpowers_path
            %ul
              %li= link_to "所持異能・生産・スキル組み合わせ一覧", superpower_combinations_path
            %li= link_to "所持スキル一覧", skills_path
            %ul
              %li= link_to "スキル習得者数ランキング", skills_path + "?show_total=1&exclude_initial_active=on&exclude_initial_passive=on&ex_sort=on"
            %li= link_to "所持カード一覧", cards_path
            %li= link_to "研究済スキル一覧", studies_path
            %ul
              %li= link_to "研究済スキルランキング", studies_path + "?group_skill=on&ex_sort=on"
          %br
          %li 行動データ
          %ul  
            %li= link_to "食事一覧", meals_path
            %li= link_to "作製一覧", makes_path
            %li= link_to "合成一覧", compounds_path
            %ul
              %li= link_to "合成結果一覧", compounds_path + "?result_no_form=""&compound_deficient_lv=off&group_result=on"
              %li= link_to "合成組み合わせ一覧", compounds_path + "?result_no_form=""&group_source=on"
            %li= link_to "スキル研究一覧", onetime_studies_path
            %ul
              %li= link_to "スキル研究ランキング", onetime_studies_path + "?group_skill=on&ex_sort=on"
            %li= link_to "エイド化候補一覧", aide_candidates_path
            %li= link_to "移動一覧", moves_path
      .col-md-6
        %ul
          %li 戦闘データ
          %ul  
            %li= link_to "次回予告NPC戦一覧", next_battle_infos_path
            %li= link_to "次回予告対人戦一覧", next_duel_infos_path
            %li= link_to "NPC戦勝敗一覧", battle_results_path
            %li= link_to "対人戦勝敗一覧", duel_infos_path
            %li= link_to "スキル・付加発動結果一覧", battle_actions_path + "?no_count=on"
            %ul
              %li= link_to "スキル発動回数ランキング", battle_actions_path + "?act_type_fuka=off&show_group=1&group_page=off&total_act=on&ex_sort=on"
              %li= link_to "付加発動回数ランキング", battle_actions_path +   "?act_type_skill=off&show_group=1&group_page=off&total_act=on&ex_sort=on"
            %li 戦闘ランキング（単発）
            %ul
              %li= link_to "ダメージ", battle_ranking_singles_path + "?damage_type_damage=on&show_acter=1&show_damage=1&sort_damage=on"
              %li= link_to "SPダメージ", battle_ranking_singles_path + "?damage_type_sp_damage=on&show_acter=1&show_damage=1&sort_damage=on"
              %li= link_to "回復", battle_ranking_singles_path + "?damage_type_heal=on&show_acter=1&show_damage=1&sort_damage=on"
              %li= link_to "クリティカル", battle_ranking_singles_path + "?damage_type_damage=on&show_acter=1&show_damage=1&show_critical=1&sort_critical=on"
              %li= link_to "深度", battle_ranking_singles_path + "?damage_type_abnormal=on&show_acter=1&show_damage=1&show_abnormal=1&sort_damage=on"
            %li 戦闘ランキング（スキル一回）
            %ul
              %li= link_to "ダメージ", battle_ranking_sk_totals_path + "?damage_type_damage=on&show_acter=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on"
              %li= link_to "SPダメージ", battle_ranking_sk_totals_path + "?damage_type_sp_damage=on&show_acter=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on"
              %li= link_to "回復", battle_ranking_sk_totals_path + "?damage_type_heal=on&show_acter=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on"
              %li= link_to "深度", battle_ranking_sk_totals_path + "?damage_type_abnormal=on&show_acter=1&show_damage=1&show_abnormal=1&acter_pc=on&sort_total_damage=on&ex_sort=on"
            %li 戦闘ランキング（キャラ合計）
            %ul
              %li= link_to "ダメージ", battle_ranking_totals_path + "?damage_type_damage=on&show_acter=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on"
              %li= link_to "SPダメージ", battle_ranking_totals_path + "?damage_type_sp_damage=on&show_acter=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on"
              %li= link_to "回復", battle_ranking_totals_path + "?damage_type_heal=on&show_acter=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on"
              %li= link_to "深度", battle_ranking_totals_path + "?damage_type_abnormal=on&show_acter=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on"
              %li= link_to "被ダメージ", battle_ranking_tg_totals_path + "?damage_type_damage=on&show_target=1&target_pc=on&show_damage=1&sort_total_damage=on&ex_sort=on"
              %li= link_to "被回復", battle_ranking_tg_totals_path + "?damage_type_heal=on&show_target=1&target_pc=on&show_damage=1&sort_total_damage=on&ex_sort=on"
              %li= link_to "ふふぁさー", battle_ranking_tg_totals_path + "?damage_type_dodge=on&damage_type_dodge_protection=on&show_target=1&target_pc=on&show_dodge=1&sort_total_dodge=on&ex_sort=on"
            %li 戦闘ランキング（PT合計）
            %ul
              %li= link_to "ダメージ", battle_ranking_pt_totals_path + "?damage_type_damage=on&show_acter_pt=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on"
              %li= link_to "SPダメージ", battle_ranking_pt_totals_path + "?damage_type_sp_damage=on&show_acter_pt=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on"
              %li= link_to "回復", battle_ranking_pt_totals_path + "?damage_type_heal=on&show_acter_pt=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on"
              %li= link_to "深度", battle_ranking_pt_totals_path + "?damage_type_abnormal=on&show_acter_pt=1&show_damage=1&show_abnormal=1&acter_pc=on&sort_total_damage=on&ex_sort=on"
              %li= link_to "被ダメージ", battle_ranking_pt_tg_totals_path + "?damage_type_damage=on&show_target=1&show_target_pt=1&target_pc=on&show_damage=1&sort_total_damage=on&ex_sort=on"
              %li= link_to "ふふぁさー", battle_ranking_pt_tg_totals_path + "?damage_type_dodge=on&damage_type_dodge_protection=on&show_target_pt=1&target_pc=on&show_dodge=1&sort_total_dodge=on&ex_sort=on"
          %br
          %li グラフデータ
          %ul  
            %li= link_to "所属世界グラフ", world_graphs_path
          %br
          %li 新出データ
          %ul  
            %li= link_to "新出素材一覧", new_items_path
            %li= link_to "新出アイテム付加一覧", new_item_fukas_path
            %li= link_to "新出発動スキル・付加一覧", new_actions_path
            %li= link_to "新出予告NPC一覧", new_next_enemies_path
            %ul  
              %li= link_to "新出予告MISSION一覧", new_next_enemies_path + "?result_no_form=" + sprintf("%d", @latest_result) + "&is_form=1&is_mission=on"
            %li= link_to "初戦闘NPC一覧", new_battle_enemies_path
            %ul  
              %li= link_to "初戦闘MISSION一覧", new_battle_enemies_path + "?result_no_form=" + sprintf("%d", @latest_result) + "&is_form=1&is_mission=on"
            %li= link_to "MISSION初突破一覧", new_defeat_enemies_path
          %ul  

.card.top
  .card-body
    %h2 更新履歴
    %div
      %ul
        %li 2020/9/17
        %ul
          %li
            = link_to "所持アイテム一覧", items_path
            にアイテムのプラス値での検索・ソート機能を追加
          %li
            = link_to "次回予告NPC戦一覧", next_battle_infos_path
            、
            = link_to "NPC戦勝敗一覧", battle_results_path
            の敵名検索において完全一致ができるように修正
          %li
            = link_to "所持異能・生産・スキル組み合わせ一覧", superpower_combinations_path
            %ul
              %li スキル名検索フォームで複数のスキルの組み合わせを検索できるように変更
              %li スキル名検索時に代表スキルを表示していたのを削除（組み合わせ検索用にデータ形式を変更したため）
        %li 2020/9/17
        %ul
          %li
            = link_to "MISSION初突破一覧", new_defeat_enemies_path
            を公開
          %li
            = link_to "新出予告NPC一覧", new_next_enemies_path
            、
            = link_to "初戦闘NPC一覧", new_battle_enemies_path
            に戦闘の種類での検索を追加。
            %br
            また、これらのページであらかじめMISSIONを表示するように入力した
            = link_to "新出予告MISSION一覧", new_next_enemies_path + "?result_no_form=" + sprintf("%d", @latest_result) + "&is_form=1&is_mission=on"
            、
            = link_to "初戦闘MISSION一覧", new_battle_enemies_path + "?result_no_form=" + sprintf("%d", @latest_result) + "&is_form=1&is_mission=on"
            へのリンクを追加
          %li
            = link_to "作製一覧", makes_path
            のデータ形式を変更し、見切りなどで作製した場合にも素材名を表示できるようにしました。（見切り時の素材の強さはこれまで通り表示・検索ができません）
          %li
            各ページのパーティ人数の検索をチェックボックス式に変更
        %li 2020/9/16
        %ul
          %li
            = link_to "新出素材一覧", new_items_path
            のアイテム名検索で部分一致ができない不具合を修正
          %li
            = link_to "合成結果一覧", compounds_path + "?result_no_form=""&compound_deficient_lv=off&group_result=on"
            で「活力漲る」「滑々な」「魔力溢れる」を除外する設定をあらかじめ検索フォームに入力しておくように変更
        %li 2020/9/13
        %ul
          %li
            = link_to "次回予告NPC戦一覧", next_battle_infos_path
            、
            = link_to "NPC戦勝敗一覧", battle_results_path
            の敵名検索で更新回数を指定せず検索しても正しく絞り込めるように仕様を変更。
            この仕様変更に伴い、敵名検索では完全一致が使えなくなります。
        %li 2020/9/2
        %ul
          %li
            = link_to "所持異能・生産・スキル組み合わせ一覧", superpower_combinations_path
            において料理LVでの検索フォームがない不具合を修正
          %li
            = link_to "次回予告NPC戦一覧", next_battle_infos_path
            、
            = link_to "次回予告対人戦一覧", next_duel_infos_path
            を「戦闘データ」の項目に移行
          %li
            = link_to "次回予告対人戦一覧", next_duel_infos_path
            、
            = link_to "対人戦勝敗一覧", duel_infos_path
            のEnoとキャラクター名とPT名について、左右PTで検索フォームが別れていたのを統合し、左右同時に検索できるように変更
        %li 2020/8/10
        %ul
          %li
            = link_to "所持異能・生産・スキル組み合わせ一覧", superpower_combinations_path
            を公開
        %li 2020/8/9
        %ul
          %li
            戦闘ランキングに「変調・強化で与えた深度」のデータを追加。
            %br
            戦闘ランキング（単発）の
            = link_to "深度", battle_ranking_singles_path + "?damage_type_abnormal=on&show_acter=1&show_damage=1&show_abnormal=1&sort_damage=on"
            、
            %br
            戦闘ランキング（スキル一回）の
            = link_to "深度", battle_ranking_sk_totals_path + "?damage_type_abnormal=on&show_acter=1&show_damage=1&show_abnormal=1&acter_pc=on&sort_total_damage=on&ex_sort=on"
            、
            %br
            戦闘ランキング（キャラ合計）の
            = link_to "深度", battle_ranking_totals_path + "?damage_type_abnormal=on&show_acter=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on"
            、
            %br
            戦闘ランキング（PT合計）の
            = link_to "深度", battle_ranking_pt_totals_path + "?damage_type_abnormal=on&show_acter_pt=1&show_damage=1&show_abnormal=1&acter_pc=on&sort_total_damage=on&ex_sort=on"
            ランキングを追加
        %li 2020/8/8
        %ul
          %li
            戦闘ランキング（キャラ合計）に
            = link_to "被ダメージ", battle_ranking_tg_totals_path + "?damage_type_damage=on&show_target=1&target_pc=on&show_damage=1&sort_total_damage=on&ex_sort=on"
            、
            = link_to "被回復", battle_ranking_tg_totals_path + "?damage_type_heal=on&show_target=1&target_pc=on&show_damage=1&sort_total_damage=on&ex_sort=on"
            のランキングを追加
          %li
            戦闘ランキング（PT合計）に
            = link_to "ダメージ", battle_ranking_pt_totals_path + "?damage_type_damage=on&show_acter_pt=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on"
            、
            = link_to "回復", battle_ranking_pt_totals_path + "?damage_type_heal=on&show_acter_pt=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on"
            、
            = link_to "被ダメージ", battle_ranking_pt_tg_totals_path + "?damage_type_damage=on&show_target=1&show_target_pt=1&target_pc=on&show_damage=1&sort_total_damage=on&ex_sort=on"
            のランキングを追加
        %li 2020/8/7
        %ul
          %li
            戦闘ランキング（スキル一回）として
            = link_to "ダメージ", battle_ranking_sk_totals_path + "?damage_type_damage=on&show_acter=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on"
            、
            = link_to "SPダメージ", battle_ranking_sk_totals_path + "?damage_type_sp_damage=on&show_acter=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on"
            、
            = link_to "回復", battle_ranking_sk_totals_path + "?damage_type_heal=on&show_acter=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on"
            のランキングを公開
          %li
            戦闘ランキング（キャラ合計）として
            = link_to "ダメージ", battle_ranking_totals_path + "?damage_type_damage=on&show_acter=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on"
            、
            = link_to "SPダメージ", battle_ranking_totals_path + "?damage_type_sp_damage=on&show_acter=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on"
            、
            = link_to "回復", battle_ranking_totals_path + "?damage_type_heal=on&show_acter=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on"
            のランキングを公開
          %li
            戦闘ランキング（単発）に
            = link_to "SPダメージ", battle_ranking_singles_path + "?damage_type_sp_damage=on&show_acter=1&show_damage=1&sort_damage=on"
            、
            = link_to "回復", battle_ranking_singles_path + "?damage_type_heal=on&show_acter=1&show_damage=1&sort_damage=on"
            のランキングへの直接リンクを追加
          %li
            上記構成変更に伴い、
            = link_to "ふふぁさー", battle_ranking_tg_totals_path + "?damage_type_dodge=on&damage_type_dodge_protection=on&show_target=1&target_pc=on&show_dodge=1&sort_total_dodge=on&ex_sort=on"
            、
            = link_to "ふふぁさーPT", battle_ranking_pt_tg_totals_path + "?damage_type_dodge=on&damage_type_dodge_protection=on&show_target_pt=1&target_pc=on&show_dodge=1&sort_total_dodge=on&ex_sort=on"
            のURLを変更
        %li 2020/8/5
        %ul
          %li
            = link_to "スキル・付加発動結果一覧", battle_actions_path
            の負荷対策として、データ構造の最適化を行い、最初にページに移動した時はデータ件数を表示しないように変更
    %p
      %span.example_select.example_toggle.pointer
        = fa_icon "history"
        古い履歴
        - act_desc(false)
    .closed
      %ul
        %li 2020/7/6
        %ul
          %li
            = link_to "NPC戦勝敗一覧", battle_results_path
            %ul
              %li パーティ合流時にENoがパーティ内で最も小さくなるキャラクターが勧誘される側だと、合流した次の回のパーティの勝敗が表示されなくなっていた不具合を修正
              %li 第2回以降ナレハテ戦の勝敗が表示されなくなっていた不具合を修正
        %li 2020/6/5
        %ul
          %li
            これまでの「スキル研究一覧」「スキル研究ランキング」を
            = link_to "研究済スキル一覧", studies_path
            、
            = link_to "研究済スキルランキング", studies_path + "?group_skill=on&ex_sort=on"
            に名称変更
          %li
            その更新で研究されたスキルのみ表示した
            = link_to "スキル研究一覧", onetime_studies_path
            、
            = link_to "スキル研究ランキング", onetime_studies_path + "?group_skill=on&ex_sort=on"
            を行動データとして公開
          %li
            ベースキャンプで採取を行わずに練習試合・開放戦・特殊戦を行ったキャラクターがPTとして認識されない、もしくは相手PTに組み込まれる不具合を修正
        %li 2020/5/28
        %ul
          %li
            = link_to "スキル・付加発動結果一覧", battle_actions_path
            %ul
              %li 他人のスキルの直後に発動したカードの発動者が正しく取得できない不具合を修正
              %li 召喚スキルで途中参戦したNPCのスキルも検索できるように変更
              %li ページ内の「敵」という単語を「NPC」に変更
        %li 2020/5/27
        %ul
          %li
            = link_to "スキル・付加発動結果一覧", battle_actions_path
            でスキル・付加の名前に「の」が含まれ、かつスキル名を変更していない時、データを正しく取得できない不具合を修正
        %li 2020/5/21
        %ul
          %li
            「特定キャラの現在地＋周囲8エリアで絞り込み」時、特定の条件で周辺でないエリアも表示されてしまう不具合を修正
        %li 2020/5/13
        %ul
          %li
            = link_to "エイド一覧", aides_path
            で第7回再更新以降キズナの値が取得できなくなっていた不具合を修正。
            %br
            本家の変更に合わせて絆→キズナに表記を変更。
          %li
            「特定キャラの現在地＋周囲8エリアで絞り込み」時、他の区のキャラクターも表示されてしまう不具合を修正
        %li 2020/2/25
        %ul
          %li
            = link_to "作製一覧", makes_path
            で素材として依頼者側ではなく作製者側のアイテムを表示していた不具合を修正。
            %br
            依頼者・作成者のリンクを併記。
        %li 2020/2/9
        %ul
          %li
            = link_to "エイド化候補一覧", aide_candidates_path
            の使役LVの初期表示を前回の使役LVに変更
          %li
            = link_to "次回予告NPC戦一覧", next_battle_infos_path
            、
            = link_to "NPC戦勝敗一覧", battle_results_path
            で敵名検索した際、ヒットしなかった時に全件表示されてしまう不具合を修正
        %li 2020/2/8
        %ul
          %li
            = link_to "エイド一覧", aides_path
            、
            = link_to "エイド化候補一覧", aide_candidates_path
            を公開
        %li 2020/1/13
        %ul
          %li
            = link_to "新出素材一覧", new_items_path
            で素材の強さを表示
          %li
            過去結果のリンク先が間違っていた不具合を修正
        %li 2020/1/12
        %ul
          %li
            = link_to "新出素材一覧", new_items_path
            を公開
          %li
            「戦闘ランキング（単発）」（
            = link_to "最大与ダメージランキング", battle_ranking_singles_path + "?damage_type_damage=on&show_acter=1&show_damage=1&sort_damage=on"
            、
            = link_to "最大クリティカルランキング", battle_ranking_singles_path + "?damage_type_damage=on&show_acter=1&show_damage=1&show_critical=1&sort_critical=on"
            ）に、守護・反射の減少深度での検索機能を追加
          %li
            = link_to "ふふぁさーランキング", battle_ranking_tg_totals_path + "?damage_type_dodge=on&damage_type_dodge_protection=on&show_target=1&target_pc=on&show_dodge=1&sort_total_dodge=on&ex_sort=on"
            、
            = link_to "ふふぁさーPTランキング", battle_ranking_pt_tg_totals_path + "?damage_type_dodge=on&damage_type_dodge_protection=on&show_target_pt=1&target_pc=on&show_dodge=1&sort_total_dodge=on&ex_sort=on"
            に、通常の回避と守護による回避での検索機能を追加。初期状態では両方合わせた回避回数をカウントするように変更
        %li 2020/1/3
        %ul
          %li
            = link_to "作製一覧", makes_path
            を公開
        %li 2020/1/2
        %ul
          %li
            = link_to "所持スキル一覧", skills_path
            において、初期スキルを非表示にする機能が正しく動いていなかった（テストプレイ時の初期スキルのみ除外していた）不具合を修正
        %li 2019/12/30
        %ul
          %li
            = link_to "所持スキル一覧", skills_path
            に指定キャラの現在地＋周囲8エリアでの絞り込み機能を追加
        %li 2019/12/20
        %ul
          %li
            本番データに対応
            %br
            = link_to "⇒前期：荊街テストプレイ データ小屋", "https://data.teiki.org/ibara_0/"
        %li 2019/12/18
        %ul
          %li
            = link_to "食事一覧", meals_path
            、
            = link_to "NPC戦勝敗一覧", battle_results_path
            、
            = link_to "新出予告NPC一覧", new_next_enemies_path
            、
            = link_to "初戦闘NPC一覧", new_battle_enemies_path
            、
            = link_to "次回予告対人戦一覧", next_duel_infos_path
            、
            = link_to "対人戦勝敗一覧", duel_infos_path
            を公開。
        %li 2019/6/24
        %ul
          %li
            = link_to "キャラクター名・PL名一覧", names_path
            を公開。
            %br
        %li 2019/4/3
        %ul
          %li
            = link_to "スキル・付加発動結果一覧", battle_actions_path
            、
            = link_to "最大与ダメージランキング", battle_ranking_singles_path + "?damage_type_damage=on&show_acter=1&show_damage=1&sort_damage=on"
            、
            = link_to "最大クリティカルランキング", battle_ranking_singles_path + "?damage_type_damage=on&show_acter=1&show_damage=1&show_critical=1&sort_critical=on"
            に発動者所属PTでの絞り込みを追加
        %li 2019/3/29
        %ul
          %li
            = link_to "ふふぁさーPTランキング", battle_ranking_pt_tg_totals_path + "?damage_type_dodge=on&show_target_pt=1&target_pc=on&show_dodge=1&sort_total_dodge=on&ex_sort=on"
            を公開
          %li
            = link_to "ふふぁさーランキング", battle_ranking_tg_totals_path + "?damage_type_dodge=on&show_target=1&target_pc=on&show_dodge=1&sort_total_dodge=on&ex_sort=on"
            に対象PTでの絞り込みを追加
        %li 2019/3/23
        %ul
          %li
            = link_to "ふふぁさーランキング", battle_ranking_tg_totals_path + "?damage_type_dodge=on&show_target=1&target_pc=on&show_dodge=1&sort_total_dodge=on&ex_sort=on"
            を公開
        %li 2019/3/21
        %ul
          %li
            = link_to "最大与ダメージランキング", battle_ranking_singles_path + "?damage_type_damage=on&show_acter=1&show_damage=1&sort_damage=on"
            、
            = link_to "最大クリティカルランキング", battle_ranking_singles_path + "?damage_type_damage=on&show_acter=1&show_damage=1&show_critical=1&sort_critical=on"
            を公開
        %li 2019/3/15
        %ul
          %li
            = link_to "次回予告NPC戦一覧", next_battle_infos_path
            において、第2回更新データ追加以降敵名での検索結果がおかしくなっていた不具合を修正。
        %li 2019/3/14
        %ul
          %li
            = link_to "新出アイテム付加一覧", new_item_fukas_path
            、
            = link_to "新出発動スキル・付加一覧", new_actions_path
            を公開
        %li 2019/3/12
        %ul
          %li
            = link_to "スキル・付加発動結果一覧", battle_actions_path
            において、戦闘の種類が全てENCOUNTERになっていた不具合を修正
          %li
            = link_to "移動一覧", moves_path
            において、チェックポイントを正しく取得できなかった不具合を修正（本家プロフィール画面で道路アイコンとなっているため、移動地形合計では道路として扱います）
          %li
            = link_to "所持アイテム一覧", items_path
            において、効果1～3の付加枠をまとめて検索するフォームを追加。付加枠ごとの個別検索を初期表示で非表示に
          %li
            = link_to "スキル・付加発動結果一覧", battle_actions_path
            において、付加LVでの検索を追加
        %li 2019/3/11
        %ul
          %li
            = link_to "所持スキル一覧", skills_path
            にスキル習得者数の表示機能、初期アクティブスキル・パッシブスキルの除外機能を追加
          %li
            所持スキル一覧の検索条件を指定した
            = link_to "スキル習得者数ランキング", skills_path + "?show_total=1&exclude_initial_active=on&exclude_initial_passive=on&ex_sort=on"
            を公開
        %li 2019/3/9
        %ul
          %li
            = link_to "スキル・付加発動結果一覧", battle_actions_path
            において、「結果別に表示」選択時に「発動回数」など一部項目でソートができない不具合を修正
            %br
            また、「発動回数ランキング」リンクからページを見た直後にソートすると表示項目が変わってしまう不具合を修正
          %li
            = link_to "スキル研究ランキング", studies_path + "?group_skill=on&ex_sort=on"
            、
            = link_to "スキル・付加発動結果一覧", battle_actions_path
            の「発動回数」など一部の項目でのソート時に、他の項目のように「▼」を表示するように

        %li 2019/3/8
        %ul
          %li 
            = link_to "スキル・付加発動結果一覧", battle_actions_path
            を公開
          %li 
            スキル・付加発動結果一覧の検索条件を指定した
            = link_to "スキル発動回数ランキング", battle_actions_path + "?act_type_fuka=off&show_group=1&group_page=off&total_act=on&ex_sort=on"
            、
            = link_to "付加発動回数ランキング", battle_actions_path +   "?act_type_skill=off&show_group=1&group_page=off&total_act=on&ex_sort=on"
            を公開
        %li 2019/3/3
        %ul
          %li 
            = link_to "移動一覧", moves_path
            、
            = link_to "次回予告NPC戦一覧", next_battle_infos_path
            を公開
        %li 2019/2/27
        %ul
          %li 
            = link_to "パーティ情報一覧", party_infos_path
            を公開
        %li 2019/2/25
        %ul
          %li 
            = link_to "合成一覧", compounds_path
            を公開
          %li 
            合成一覧の検索条件を指定した
            = link_to "合成結果一覧", compounds_path + "?result_no_form=""&compound_deficient_lv=off&group_result=on"
            、
            = link_to "合成組み合わせ一覧", compounds_path + "?result_no_form=""&group_source=on"
            を公開
          %li 
            スキル研究一覧の検索条件を指定した
            = link_to "スキル研究ランキング", studies_path + "?group_skill=on&ex_sort=on"
            を公開
        %li 2019/2/24
        %ul
          %li 
            = link_to "スタイル一覧", styles_path
            、
            = link_to "影響力一覧", effects_path
            、
            = link_to "その他ステータス一覧", statuses_path
            を公開
          %li 
            = link_to "所持スキル一覧", skills_path
            にスタイルでの絞り込み機能を追加
        %li 2019/2/23
        %ul
          %li 
            = link_to "所持アイテム一覧", items_path
            、
            = link_to "所持異能・生産一覧", superpowers_path
            、
            = link_to "所持スキル一覧", skills_path
            に指定キャラのパーティメンバーでの絞り込み機能を追加
          %li 
            = link_to "所持カード一覧", cards_path
            、
            = link_to "スキル研究一覧", studies_path
            を公開
        %li 2019/2/20
        %ul
          %li サイト公開
