- @page_title = "所持スキル一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "更新回", params_name: "result_no_form", placeholder: nil, colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "Eno", params_name: "e_no_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "pc_name_form", placeholder: "Name")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "元スキル名", params_name: "skill_form", placeholder: "Skill")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "Lv", params_name: "lv_form", placeholder: "Number")

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_skill_mastery",
                    label: {open: "習得条件を表示する", close: "習得条件を表示しない"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "異能1or2", params_name: "requirement_form", placeholder: "Superpower")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "必要lv", params_name: "requirement_lv_form", placeholder: "Number")
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "異能1", params_name: "requirement_1_form", placeholder: "Superpower")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "必要lv", params_name: "requirement_1_lv_form", placeholder: "Number")
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "異能2", params_name: "requirement_2_form", placeholder: "Superpower")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "必要lv", params_name: "requirement_2_lv_form", placeholder: "Number")

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_skill",
                    label: {open: "スキル情報を表示する", close: "スキル情報を表示しない"},
                    act_desc: "　種類（アクティブorパッシブ）、属性、EP、SP、発動タイミング、説明", base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "種類", params_name: "type_form", colspan: 3,
                    checkboxes: [{label: "アクティブ", params_name: "type_active", class_name: "after_space mobile_br"},
                                 {label: "パッシブ",   params_name: "type_passive"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "属性スキル", params_name: "element_form", colspan: 3,
                    checkboxes: [{label: "無", params_name: "element_none",   class_name: "after_space", br: true},
                                 {label: "火", params_name: "element_fire",   class_name: "after_space"},
                                 {label: "水", params_name: "element_water",  class_name: "after_space"},
                                 {label: "風", params_name: "element_wind",   class_name: "after_space", br: true},
                                 {label: "地", params_name: "element_ground", class_name: "after_space"},
                                 {label: "光", params_name: "element_light",  class_name: "after_space"},
                                 {label: "闇", params_name: "element_dark",   class_name: "after_space"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "EP", params_name: "ep_form")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "SP", params_name: "sp_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "発動タイミング", params_name: "timing_form", placeholder: "Timing")
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "説明", params_name: "text_form", placeholder: "SkillText")

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_skill_name",
                    label: {open: "改名後スキル名を表示する", close: "改名後スキル名を表示しない"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "スキル名", params_name: "name_form", placeholder: "SkillName", colspan: 3)

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_world",
                    label: {open: "所属世界で絞り込む", close: "所属世界で絞り込みを隠す"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "所属世界", params_name: "world_form", colspan: 3, 
                    checkboxes: [{label: "イバラシティ", params_name: "is_ibaracity", class_name: "after_space mobile_br"},
                                 {label: "アンジニティ", params_name: "is_ansinity"}])

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_girth",
                    label: {open: "指定キャラの現在地＋周囲8エリアで絞り込む", close: "指定キャラの現在地＋周囲8エリアで絞り込みを隠す"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "更新回", params_name: "place_result_no_form", placeholder: nil, colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "Eno", params_name: "place_e_no_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "place_pc_name_form", placeholder: "Name")


    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_pm",
                    label: {open: "指定キャラのパーティメンバーで絞り込む", close: "指定キャラのパーティメンバーで絞り込みを隠す"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "更新回", params_name: "pm_result_no_form", placeholder: nil, colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "Eno", params_name: "pm_e_no_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "pm_pc_name_form", placeholder: "Name")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, params_name: "pm_party_type_form", colspan: 3, 
                    checkboxes: [{label: "戦闘PTM",     params_name: "pm_battle", class_name: "after_space mobile_br"},
                                 {label: "次回予告PTM", params_name: "pm_next"}])

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_style",
                    label: {open: "スタイルを表示する", close: "スタイルを表示しない"}, base_first: false)
    %tbody.closed
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "スタイル", params_name: "style_id_form", colspan: 3, 
                    checkboxes: [{label: "行動順１【瞬速】", params_name: "style_1", class_name: "after_space"},
                                 {label: "２【疾駆】", params_name: "style_2", class_name: "after_space", br: true},
                                 {label: "３【強襲】", params_name: "style_3", class_name: "after_space"},
                                 {label: "４【特攻】", params_name: "style_4", class_name: "after_space", br: true},
                                 {label: "５【順応】", params_name: "style_5", class_name: "after_space"},
                                 {label: "６【堅固】", params_name: "style_6", class_name: "after_space", br: true},
                                 {label: "７【援助】", params_name: "style_7", class_name: "after_space"},
                                 {label: "８【虎視】", params_name: "style_8", class_name: "after_space", br: true},
                                 {label: "９【日和】", params_name: "style_9"}])

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_total",
                    label: {open: "スキル別習得者数を表示する", close: "スキル別習得者数を表示しない"}, base_first: false)
    %tbody.closed
      %tr.sep
        %td.indent
        %td{colspan: 5}

    - #==========================================================================================================================
    %tbody
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, params_name: "exclude_initial_skill_form", colspan: 3, label_td_class_name: "indent", 
          checkboxes: [{label: "初期アクティブスキルを非表示にする", params_name: "exclude_initial_active",  class_name: "after_space mobile_br"},
                       {label: "初期パッシブスキルを非表示にする",   params_name: "exclude_initial_passive", class_name: "after_space mobile_br"}])
      %tr.sep
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button

= paginate(@skills)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,"更新回", default_order: :desc)
      - if @form_params["show_total"] != "1"
        %th= sort_link(@search, :e_no,"キャラクター(Eno)", default_order: :desc)
      - if @form_params["show_skill_mastery"] == "1"
        %th.sep= sort_link(@search, :skill_mastery_requirement_1_id, "異能1", default_order: :desc)
        %th= sort_link(@search, :skill_mastery_requirement_1_lv, "必要Lv", default_order: :desc)
        %th.sep= sort_link(@search, :skill_mastery_requirement_2_id, "異能2", default_order: :desc)
        %th= sort_link(@search, :skill_mastery_requirement_2_lv, "必要Lv", default_order: :desc)
      - if @form_params["show_skill_name"] == "1"
        %th.sep= sort_link(@search, :name, "スキル名", default_order: :desc)
      %th.sep= sort_link(@search, :skill_id, "元スキル名", default_order: :desc)
      %th= sort_link(@search, :lv, "Lv", default_order: :desc)
      - if @form_params["show_skill"] == "1"
        %th.sep= sort_link(@search, :skill_type_id, "種類", default_order: :desc)
        %th= sort_link(@search, :skill_element_id, "属性", default_order: :desc)
        %th.sep= sort_link(@search, :skill_ep, "EP", default_order: :desc)
        %th= sort_link(@search, :skill_sp, "SP", default_order: :desc)
        %th.sep= sort_link(@search, :skill_timing_id, "タイミング", default_order: :desc)
        %th= sort_link(@search, :skill_text, "説明", default_order: :desc)
      - if @form_params["show_style"] == "1"
        %th.sep= sort_link(@search, :style_id, "スタイル", default_order: :desc)
      - if @form_params["show_total"] == "1"
        %th.sep= sort_link(@search, :user_count, ex_sort_text(params, "user_count", "習得者数"), default_order: :desc)
      %th.sep{colspan: "2"} 結果リンク
  %tbody
    - @skills.each do |skill|
      %tr
        %td= skill.result_no
        - if @form_params["show_total"] != "1"
          %td{style: "#{ world_border(skill.world) }" }= pc_name_text(skill.e_no, skill.pc_name)
        - if @form_params["show_skill_mastery"] == "1"
          %td.sep= skill.skill_mastery.requirement_1.name if skill.skill_mastery && skill.skill_mastery.requirement_1 && skill.skill_mastery.requirement_1.name
          %td= skill.skill_mastery.requirement_1_lv if skill.skill_mastery && skill.skill_mastery.requirement_1
          %td.sep= skill.skill_mastery.requirement_2.name if skill.skill_mastery && skill.skill_mastery.requirement_2 && skill.skill_mastery.requirement_2.name
          %td= skill.skill_mastery.requirement_2_lv if skill.skill_mastery && skill.skill_mastery.requirement_2
        - if @form_params["show_skill_name"] == "1"
          %td.sep= skill.name
        %td.sep= skill.skill.name if skill.skill
        %td= skill.lv
        - if @form_params["show_skill"] == "1"
          %td.sep= skill_type_text(skill.skill)
          %td{style: "#{ elemental_border(skill.skill) }" }= elemental_text(skill.skill)
          %td.sep= skill.skill.ep
          %td= skill.skill.sp
          %td.sep= skill.skill.timing.name if skill.skill.timing
          %td= skill.skill.text
        - if @form_params["show_style"] == "1"
          %td.text-nowrap.sep
            - style_img_text(skill.status)
        - if @form_params["show_total"] == "1"
          %td.text-nowrap.sep= skill.user_count
        %td.sep= character_link(skill.e_no)
        %td= character_old_link(@latest_result, skill.e_no, skill.result_no, skill.generate_no)
= paginate(@skills)
