- @page_title = "戦闘ランキング(単発)"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
      ※「戦闘中の他の発動スキル・付加」において、「火霊力:10」と入力すると火霊力が10回発動した結果を絞り込むことが出来ます。
      %br
      付加LV合計の項目では、「攻撃:160」と入力すると攻撃LVの合計が160の結果を絞り込むことが出来ます。
      %br
      これらの数値に対しては以上、以下、範囲検索はできません。
= search_form_for @search, url: battle_ranking_singles_path do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "更新回", params_name: "result_no_form", placeholder: nil, colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "種類", params_name: "damage_type_form", colspan: 3, 
                    checkboxes: [{label: "回避",       params_name: "damage_type_dodge",    class_name: "after_space"},
                                 {label: "ダメージ",   params_name: "damage_type_damage",    class_name: "after_space"},
                                 {label: "SPダメージ", params_name: "damage_type_sp_damage", br: true},
                                 {label: "HP回復",     params_name: "damage_type_heal",      class_name: "after_space"},
                                 {label: "SP回復",     params_name: "damage_type_sp_heal",   br: true},
                                 {label: "変調追加",   params_name: "damage_type_abnormal",  class_name: "after_space"},
                                 {label: "変調抵抗",   params_name: "damage_type_resist",  class_name: "after_space"},
                                 {label: "変調軽減",   params_name: "damage_type_reduce",    br: true}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "発動者", params_name: "acter_form", 
                    checkboxes: [{label: "PC",  params_name: "acter_pc", class_name: "after_space"},
                                 {label: "NPC", params_name: "acter_npc"}])
        - td_form(f, @form_params, @placeholder,                         label: "対象", params_name: "target_form",
                    checkboxes: [{label: "PC",  params_name: "target_pc", class_name: "after_space"},
                                 {label: "NPC", params_name: "target_npc"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "戦闘の種類", params_name: "battle_type_form", colspan: 3, 
                    checkboxes: [{label: "ENCOUNTER - 『遭遇戦』『採集』", params_name: "is_encounter",  br: true},
                                 {label: "MISSION - 『開放戦』『特殊戦』", params_name: "is_mission",    br: true},
                                 {label: "DUEL　- 『決闘』",               params_name: "is_duel",       br: true},
                                 {label: "GAME　- 『練習戦』",             params_name: "is_game",       br: true}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "スキルor付加", params_name: "act_type_form", colspan: 3, 
                    checkboxes: [{label: "スキル",   params_name: "act_type_skill", class_name: "after_space"},
                                 {label: "付加",     params_name: "act_type_fuka",  class_name: "after_space mobile_br"},
                                 {label: "通常攻撃", params_name: "act_type_normal"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "スキル・付加名", params_name: "act_form", placeholder: "Skill")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",   label: "付加LV",         params_name: "lv_form",  placeholder: "Number")

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_battle_page",
                    label: {open: "結果名で絞り込む", close: "結果名で絞り込みを隠す"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "結果名", params_name: "battle_page_form", placeholder: "", colspan: 3)

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_acter",
                    label: {open: "発動者を表示する", close: "発動者を表示しない"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "所属世界", params_name: "world_form", colspan: 3, 
                    checkboxes: [{label: "イバラシティ", params_name: "is_ibaracity", class_name: "after_space mobile_br"},
                                 {label: "アンジニティ", params_name: "is_ansinity"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "Eno", params_name: "e_no_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "pc_name_form", placeholder: "Name")
      %tr
        %td.indent
          - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "NPC名", params_name: "enemy_form", placeholder: "Enemy", colspan: 3)

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_acter_detail",
                    label: {open: "発動者の詳細を表示する", close: "発動者の詳細を表示する"},
                    act_desc: "スタイル、装備名、装備の種類、強さ、射程、効果名", base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "スタイル", params_name: "style_id_form", colspan: 3, 
                    checkboxes: [{label: "行動順１【瞬速】", params_name: "style_1", class_name: "after_space"},
                                 {label: "２【疾駆】", params_name: "style_2", class_name: "after_space", br: true},
                                 {label: "３【強襲】", params_name: "style_3", class_name: "after_space"},
                                 {label: "４【特攻】", params_name: "style_4", class_name: "after_space", br: true},
                                 {label: "５【順応】", params_name: "style_5", class_name: "after_space"},
                                 {label: "６【堅固】", params_name: "style_6", class_name: "after_space", br: true},
                                 {label: "７【援助】", params_name: "style_7", class_name: "after_space"},
                                 {label: "８【虎視】", params_name: "style_8", class_name: "after_space", br: true},
                                 {label: "９【日和】", params_name: "style_9"}])
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "装備名", params_name: "acter_equips_name_form", placeholder: "Item", colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "効果名", params_name: "acter_equips_effect_form", placeholder: "Fuka", colspan: 3)
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "武器の種類", params_name: "acter_equip_0_kind_form", placeholder: "ItemKind")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "武器の強さ", params_name: "acter_equip_0_strength_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "武器の射程", params_name: "acter_equip_0_range_form", colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "防具の種類", params_name: "acter_equip_1_kind_form", placeholder: "ItemKind")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "防具の強さ", params_name: "acter_equip_1_strength_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "装飾の種類", params_name: "acter_equip_2_kind_form", placeholder: "ItemKind")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "装飾の強さ", params_name: "acter_equip_2_strength_form")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "自由の種類", params_name: "acter_equip_3_kind_form", placeholder: "ItemKind")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "自由の強さ", params_name: "acter_equip_3_strength_form")

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_acter_pt",
                    label: {open: "発動者所属PTで絞り込む", close: "発動者所属PTで絞り込みを表示しない"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "所属世界", params_name: "acter_world_form", colspan: 3,
                    checkboxes: [{label: "イバラシティ", params_name: "acter_ibaracity", class_name: "after_space mobile_br"},
                                 {label: "アンジニティ", params_name: "acter_ansinity"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "更新回", params_name: "acter_pm_result_no_form", placeholder: nil, colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "Eno", params_name: "acter_pm_e_no_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "acter_pm_pc_name_form", placeholder: "Name")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, params_name: "acter_pm_party_type_form", colspan: 3,
                    checkboxes: [{label: "戦闘PTM",     params_name: "acter_pm_battle", class_name: "after_space mobile_br"},
                                 {label: "次回予告PTM", params_name: "acter_pm_next"}])

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_target",
                    label: {open: "対象を表示する", close: "対象を表示しない"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "所属世界", params_name: "target_world_form", colspan: 3, 
                    checkboxes: [{label: "イバラシティ", params_name: "target_ibaracity", class_name: "after_space mobile_br"},
                                 {label: "アンジニティ", params_name: "target_ansinity"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "Eno", params_name: "target_e_no_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "target_pc_name_form", placeholder: "Name")
      %tr
        %td.indent
          - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "NPC名", params_name: "target_enemy_form", placeholder: "Enemy", colspan: 3)

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_target_pt",
                    label: {open: "対象所属PTで絞り込む", close: "対象所属PTで絞り込みを表示しない"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "所属世界", params_name: "target_world_form", colspan: 3,
                    checkboxes: [{label: "イバラシティ", params_name: "target_ibaracity", class_name: "after_space mobile_br"},
                                 {label: "アンジニティ", params_name: "target_ansinity"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "更新回", params_name: "target_pm_result_no_form", placeholder: nil, colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "Eno", params_name: "target_pm_e_no_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "target_pm_pc_name_form", placeholder: "Name")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, params_name: "target_pm_party_type_form", colspan: 3,
                    checkboxes: [{label: "戦闘PTM",     params_name: "target_pm_battle", class_name: "after_space mobile_br"},
                                 {label: "次回予告PTM", params_name: "target_pm_next"}])

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_damage",
                    label: {open: "ダメージ・回復量・追加深度を表示する", close: "ダメージ・回復量を表示しない"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "ダメージ・回復", params_name: "value_form", placeholder: "Number", colspan: 3)

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_abnormal",
                    label: {open: "追加した変調・強化の種類を表示する", close: "追加した変調・強化の種類を表示しない"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, params_name: "abnormal_form", colspan: 3,
                    checkboxes: [{label: "炎上", params_name: "abnormal_flame", class_name: "after_space"},
                                 {label: "凍結", params_name: "abnormal_freeze", class_name: "after_space mobile_br"},
                                 {label: "束縛", params_name: "abnormal_restriction", br: true},
                                 {label: "猛毒", params_name: "abnormal_poison", class_name: "after_space mobile_br"},
                                 {label: "麻痺", params_name: "abnormal_paralysis", class_name: "after_space mobile_br"},
                                 {label: "衰弱", params_name: "abnormal_weakness", br: true},
                                 {label: "盲目", params_name: "abnormal_blindness", class_name: "after_space mobile_br"},
                                 {label: "腐食", params_name: "abnormal_corrosion", br: true},
                                 {label: "朦朧", params_name: "abnormal_dim", class_name: "after_space mobile_br"},
                                 {label: "混乱", params_name: "abnormal_confusion", class_name: "after_space mobile_br"},
                                 {label: "魅了", params_name: "abnormal_fascination", br: true},
                                 {label: "石化", params_name: "abnormal_consolidation", class_name: "after_space mobile_br"},
                                 {label: "暴走", params_name: "abnormal_berserk", br: true},
                                 {label: "祝福", params_name: "abnormal_blessing", class_name: "after_space mobile_br"},
                                 {label: "守護", params_name: "abnormal_protection", class_name: "after_space mobile_br"},
                                 {label: "反射", params_name: "abnormal_reflexion"}])

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_critical",
                    label: {open: "クリティカル数を表示する", close: "クリティカル数を表示しない"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "クリティカル数", params_name: "critical_form", placeholder: "Number", colspan: 3)

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_prot_refl",
                    label: {open: "守護・反射減少深度を表示する", close: "守護・反射減少深度を表示しない"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "守護減少深度", params_name: "protection_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, params_name: "dummy_form",
                    checkboxes: [{label: "守護なし", params_name: "no_protection"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "反射減少深度", params_name: "reflection_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, params_name: "dummy_form",
                    checkboxes: [{label: "反射なし", params_name: "no_reflection"}])

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_use_skill",
                    label: {open: "戦闘中の他の発動スキル・付加で絞り込む", close: "戦闘中の他の発動スキル・付加で絞り込みを表示しない"},
                    act_desc: "全員の全発動スキル、全員の戦闘開始時発動スキル、発動者の全発動スキル、発動者の戦闘開始時発動スキル", base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "全員の全発動スキル・付加", params_name: "use_skill_all_all_form", placeholder: "Skill")
        - td_form(f, @form_params, @placeholder,                         params_name: "world_form", label_td_class_name: "indent", 
                    checkboxes: [{label: "内容を表示する", params_name: "show_use_skill_all_all"}])
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "全員の戦闘開始時発動スキル・付加", params_name: "use_skill_all_start_form", placeholder: "Skill")
        - td_form(f, @form_params, @placeholder,                         params_name: "world_form", label_td_class_name: "indent", 
                    checkboxes: [{label: "内容を表示する", params_name: "show_use_skill_all_start"}])
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "発動者の全発動スキル・付加", params_name: "use_skill_acter_all_form", placeholder: "Skill")
        - td_form(f, @form_params, @placeholder,                         params_name: "world_form", label_td_class_name: "indent", 
                    checkboxes: [{label: "内容を表示する", params_name: "show_use_skill_acter_all"}])
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "発動者の戦闘開始時発動スキル・付加", params_name: "use_skill_acter_start_form", placeholder: "Skill")
        - td_form(f, @form_params, @placeholder,                         params_name: "world_form", label_td_class_name: "indent", 
                    checkboxes: [{label: "内容を表示する", params_name: "show_use_skill_acter_start"}])
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "発動者の戦闘開始時発動スキル・付加(付加LV合計)", params_name: "use_skill_acter_lv_total_start_form", placeholder: "Skill")
        - td_form(f, @form_params, @placeholder,                         params_name: "world_form", label_td_class_name: "indent", 
                    checkboxes: [{label: "内容を表示する", params_name: "show_use_skill_acter_lv_total_start"}])
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder,                         params_name: "world_form", colspan: 3, 
                    checkboxes: [{label: "ヒットしたスキル・付加を強調する", params_name: "skill_concatenation_bold", br: true},
                                 {label: "ヒットしたスキル・付加以外を非表示にする", params_name: "skill_concatenation_hidden"}])

    - #==========================================================================================================================
    %tbody
      %tr.sep
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@battle_damages)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th.sep_r= sort_link(@search, :result_no,"更新回", default_order: :desc)
      - if @form_params["show_acter"] == "1"
        %th= sort_link(@search, :battle_action_acter_e_no,"発動者(Eno)", default_order: :desc)
        %th= sort_link(@search, :battle_action_acter_enemy_id, "NPC", default_order: :desc)
      - if @form_params["show_acter_detail"] == "1"
        %th= sort_link(@search, :battle_action_acter_status_style_id,"スタイル", default_order: :desc)
        %th= sort_link(@search, :battle_action_acter_equips_strength, "装備", default_order: :desc)
      - if @form_params["show_target"] == "1"
        %th.sep= sort_link(@search, :battle_action_target_e_no,"対象(Eno)", default_order: :desc)
        %th= sort_link(@search, :battle_action_target_enemy_id, "NPC", default_order: :desc)
      %th.sep= sort_link(@search, :battle_action_battle_type, "戦闘の種類", default_order: :desc)
      - if @form_params["show_turn"] == "1"
        %th= sort_link(@search, :battle_action_turn, "ターン", default_order: :desc)
      - if @form_params["show_use_skill_all_all"] == "on"
        %th 全員全スキル
      - if @form_params["show_use_skill_all_start"] == "on"
        %th 全員戦闘開始時
      - if @form_params["show_use_skill_acter_all"] == "on"
        %th 発動者全スキル
      - if @form_params["show_use_skill_acter_start"] == "on"
        %th 発動者戦闘開始時
      - if @form_params["show_use_skill_acter_lv_total_start"] == "on"
        %th 発動者戦闘開始時(LV合計)
      %th.sep= sort_link(@search, :battle_action_skill_id, "スキル", default_order: :desc)
      %th.sep_r= sort_link(@search, :battle_action_fuka_id, "付加", default_order: :desc)
      - if @form_params["show_damage"] == "1"
        %th= sort_link(@search, :damage_type, "種類", default_order: :desc)
      - if @form_params["show_abnormal"] == "1"
        %th= sort_link(@search, :abnormal_id, "変調", default_order: :desc)
      - if @form_params["show_damage"] == "1"
        %th= sort_link(@search, :value, "効果量", default_order: :desc)
      - if @form_params["show_critical"] == "1"
        %th= sort_link(@search, :critical_value, "クリティカル数", default_order: :desc)
      - if @form_params["show_prot_refl"] == "1"
        %th= sort_link(@search, :protection_value, "守護減", default_order: :desc)
        %th= sort_link(@search, :reflection_value, "反射減", default_order: :desc)
      %th.sep{colspan: "2"} 結果リンク
  %tbody
    - @battle_damages.each do |battle_damage|
      %tr
        - if battle_damage.battle_action
          - battle_action = battle_damage.battle_action
        %td.sep_r= battle_damage.result_no
        - if @form_params["show_acter"] == "1"
          - if battle_action && battle_action.acter 
            - if battle_action.acter.acter_type == 0
              %td{colspan: 2, style: "#{ world_border(battle_action.acter.world) }" }= pc_name_text(battle_action.acter.e_no, battle_action.acter.pc_name)
            - elsif battle_action.acter.acter_type == 1
              %td{colspan: "2"}
                = battle_action.acter.enemy.name if battle_action.acter.enemy
                = battle_action.acter.suffix.name if battle_action.acter.suffix
            - else
              %td{colspan: 2}
          - else
            %td{colspan: 2}
        - if @form_params["show_acter_detail"] == "1"
          - if battle_action && battle_action.acter 
            %td
              -if battle_action.acter
                - style_img_text(battle_action.acter.status)
            %td
              -if battle_action.acter
                - equips_text(battle_action.acter.equips)
        - if @form_params["show_target"] == "1"
          - if battle_damage.target
            - if battle_damage.target.target_type == 0
              %td.sep{colspan: 2, style: "#{ world_border(battle_damage.target.world) }" }= pc_name_text(battle_damage.target.e_no, battle_damage.target.pc_name)
            - elsif battle_damage.target.target_type == 1
              %td.sep{colspan: "2"}
                = battle_damage.target.enemy.name if battle_damage.target.enemy
                = battle_damage.target.suffix.name if battle_damage.target.suffix
            - else
              %td.sep{colspan: 2}
          - else
            %td.sep{colspan: 2}
        %td.sep= battle_type_text(battle_damage.battle_info)
        - if @form_params["show_turn"] == "1"
          %td= battle_action.turn
        - if @form_params["show_use_skill_all_all"] == "on"
          %td
            - if battle_action && battle_action.acter && battle_action.acter.use_skill_all_all
              - skill_concatenation_text(battle_action.acter.use_skill_all_all.skill_concatenation,     @form_use_skill_texts, @form_params["skill_concatenation_bold"], @form_params["skill_concatenation_hidden"], 0)
        - if @form_params["show_use_skill_all_start"] == "on"
          %td
            - if battle_action && battle_action.acter && battle_action.acter.use_skill_all_start
              - skill_concatenation_text(battle_action.acter.use_skill_all_start.skill_concatenation,   @form_use_skill_texts, @form_params["skill_concatenation_bold"], @form_params["skill_concatenation_hidden"], 0)
        - if @form_params["show_use_skill_acter_all"] == "on"
          %td
            - if battle_action && battle_action.acter && battle_action.acter.use_skill_acter_all
              - skill_concatenation_text(battle_action.acter.use_skill_acter_all.skill_concatenation,   @form_use_skill_texts, @form_params["skill_concatenation_bold"], @form_params["skill_concatenation_hidden"], 0)
        - if @form_params["show_use_skill_acter_start"] == "on"
          %td
            - if battle_action && battle_action.acter && battle_action.acter.use_skill_acter_start
              - skill_concatenation_text(battle_action.acter.use_skill_acter_start.skill_concatenation, @form_use_skill_texts, @form_params["skill_concatenation_bold"], @form_params["skill_concatenation_hidden"], 0)
        - if @form_params["show_use_skill_acter_lv_total_start"] == "on"
          %td
            - if battle_action && battle_action.acter && battle_action.acter.use_skill_acter_lv_total_start
              - skill_concatenation_text(battle_action.acter.use_skill_acter_lv_total_start.skill_concatenation, @form_use_skill_texts, @form_params["skill_concatenation_bold"], @form_params["skill_concatenation_hidden"], 1)
        - if battle_action && battle_action.act_type
          - if battle_action.act_type == 0 || battle_action.act_type == 1
            %td.sep.sep_r{colspan: 2}= battle_action.skill.name if battle_action.skill
          - elsif battle_action.act_type == 2
            %td.sep.sep_r{colspan: 2}
              = battle_action.fuka.name if battle_action.fuka
              = "LV" + sprintf("%d", battle_action.lv) if battle_action.lv && battle_action.lv >= 0
        - else
          %td.sep.sep_r{colspan: 2}
        - if @form_params["show_damage"] == "1"
          %td= damage_type_text(battle_damage)
        - if @form_params["show_abnormal"] == "1"
          %td= battle_damage.abnormal.name if battle_damage.abnormal
        - if @form_params["show_damage"] == "1"
          %td= battle_damage.value if battle_damage.value >= 0
        - if @form_params["show_critical"] == "1"
          %td= battle_damage.critical.value if battle_damage.critical
        - if @form_params["show_prot_refl"] == "1"
          %td= battle_damage.protection.value if battle_damage.protection
          %td= battle_damage.reflection.value if battle_damage.reflection
        %td.sep= battle_link(@latest_result, battle_damage.battle_info.battle_type, battle_damage.battle_info.battle_page, battle_damage.battle_info.result_no, battle_damage.battle_info.generate_no)
        %td= battle_old_link(@latest_result, battle_damage.battle_info.battle_type, battle_damage.battle_info.battle_page, battle_damage.battle_info.result_no, battle_damage.battle_info.generate_no)
= paginate(@battle_damages)
