- @page_title = "戦闘結果ランキング一覧（合計）"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search, url: battle_ranking_totals_path do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "更新回", params_name: "result_no_form", placeholder: nil, colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "種類", params_name: "damage_type_form", colspan: 3, 
                    checkboxes: [{label: "回避",       params_name: "damage_type_dodge",     br: true},
                                 {label: "ダメージ",   params_name: "damage_type_damage",    class_name: "after_space"},
                                 {label: "SPダメージ", params_name: "damage_type_sp_damage", br: true},
                                 {label: "HP回復",     params_name: "damage_type_heal",      class_name: "after_space"},
                                 {label: "SP回復",     params_name: "damage_type_sp_heal",   br: true}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "発動者", params_name: "acter_form", 
                    checkboxes: [{label: "PC",  params_name: "acter_pc", class_name: "after_space"},
                                 {label: "NPC", params_name: "acter_npc"}])
        - td_form(f, @form_params, @placeholder,                         label: "対象", params_name: "target_form",
                    checkboxes: [{label: "PC",  params_name: "target_pc", class_name: "after_space"},
                                 {label: "NPC", params_name: "target_npc"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "戦闘の種類", params_name: "battle_type_form", colspan: 3, 
                    checkboxes: [{label: "ENCOUNTER - 『遭遇戦』『採集』", params_name: "is_encounter",  br: true},
                                 {label: "MISSION - 『開放戦』『特殊戦』", params_name: "is_mission",    br: true},
                                 {label: "DUEL　- 『決闘』",               params_name: "is_duel",       br: true},
                                 {label: "GAME　- 『練習戦』",             params_name: "is_game",       br: true},
                                 {label: "闘技大会",                       params_name: "is_tournament", br: true}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "スキルor付加", params_name: "act_type_form", colspan: 3, 
                    checkboxes: [{label: "スキル",   params_name: "act_type_skill", class_name: "after_space"},
                                 {label: "付加",     params_name: "act_type_fuka",  class_name: "after_space mobile_br"},
                                 {label: "通常攻撃", params_name: "act_type_normal"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "スキル・付加名", params_name: "act_form", placeholder: "Skill")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",   label: "付加LV",         params_name: "lv_form",  placeholder: "Number")

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_battle_page",
                    label: {open: "結果名で絞り込む", close: "結果名で絞り込みを隠す"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "結果名", params_name: "battle_page_form", placeholder: "", colspan: 3)

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_target",
                    label: {open: "対象を表示する", close: "対象を表示しない"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "所属世界", params_name: "target_world_form", colspan: 3, 
                    checkboxes: [{label: "イバラシティ", params_name: "target_ibaracity", class_name: "after_space mobile_br"},
                                 {label: "アンジニティ", params_name: "target_ansinity"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "Eno", params_name: "target_e_no_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "target_pc_name_form", placeholder: "Name")
      %tr
        %td.indent
          - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "敵名", params_name: "target_enemy_form", placeholder: "Enemy", colspan: 3)

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_dodge",
                    label: {open: "対象の回避数を表示する", close: "対象の回避数を表示しない"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        %td{colspan: 5}

    - #==========================================================================================================================
    %tbody
      %tr.sep
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@battle_damages)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,"更新回", default_order: :desc)
      - if @form_params["show_acter"] == "1"
        %th= sort_link(@search, :battle_action_acter_e_no,"発動者(Eno)", default_order: :desc)
        %th= sort_link(@search, :battle_action_acter_enemy_id, "敵", default_order: :desc)
      - if @form_params["show_target"] == "1"
        %th= sort_link(@search, :battle_action_acter_e_no,"対象(Eno)", default_order: :desc)
        %th= sort_link(@search, :battle_action_acter_enemy_id, "敵", default_order: :desc)
      - if params["group_battle_type"] == "1"
        %th= sort_link(@search, :battle_action_battle_type, "戦闘の種類", default_order: :desc)
      - if params["group_act"] == "1"
        %th= sort_link(@search, :battle_action_skill_id, "スキル", default_order: :desc)
        %th= sort_link(@search, :battle_action_fuka_id, "付加", default_order: :desc)
      %th= sort_link(@search, :damage_type, "種類", default_order: :desc)
      - if params["show_critical"]
        %th= sort_link(@search, :critical_value, "クリティカル数", default_order: :desc)
      - if params["show_damage"]
        %th= sort_link(@search, :damage_sum, ex_sort_text(params, "damage_sum", "ダメージ合計"), default_order: :desc)
      - if params["show_dodge"]
        %th= sort_link(@search, :dodge_count, ex_sort_text(params, "dodge_count", "回避数"), default_order: :desc)
      %th.sep{colspan: "2"} 結果リンク
  %tbody
    - @battle_damages.each do |battle_damage|
      %tr
        - if battle_damage.battle_action
          - battle_action = battle_damage.battle_action
        %td= battle_damage.result_no
        - if @form_params["show_acter"] == "1"
          - if battle_action && battle_action.acter 
            - if battle_action.acter.acter_type == 0
              %td{colspan: 2, style: "#{ world_border(battle_action.acter.world) }" }= pc_name_text(battle_action.acter.e_no, battle_action.acter.pc_name)
            - elsif battle_action.acter.acter_type == 1
              %td{colspan: "2"}
                = battle_action.acter.enemy.name if battle_action.acter.enemy
                = battle_action.acter.suffix.name if battle_action.acter.suffix
            - else
              %td{colspan: 2}
          - else
            %td{colspan: 2}
        - if @form_params["show_target"] == "1"
          - if battle_damage.target
            - if battle_damage.target.target_type == 0
              %td{colspan: 2, style: "#{ world_border(battle_damage.target.world) }" }= pc_name_text(battle_damage.target.e_no, battle_damage.target.pc_name)
            - elsif battle_damage.target.target_type == 1
              %td{colspan: "2"}
                = battle_damage.target.enemy.name if battle_damage.target.enemy
                = battle_damage.target.suffix.name if battle_damage.target.suffix
            - else
              %td{colspan: 2}
          - else
            %td{colspan: 2}
        - if params["group_battle_type"] == "1"
          %td= battle_type_text(battle_damage.battle_info)
        - if params["group_act"] == "1"
          - if battle_action.act_type == 0 || battle_action.act_type == 1
            %td{colspan: 2}= battle_action.skill.name if battle_action.skill
          - elsif battle_action.act_type == 2
            %td{colspan: 2}
              = battle_action.fuka.name if battle_action.fuka
              = "LV" + sprintf("%d", battle_action.lv) if battle_action.lv && battle_action.lv >= 0
        %td= damage_type_text(battle_damage)
        - if params["show_critical"]
          %td= battle_damage.critical.value if battle_damage.critical
        - if params["show_damage"]
          %td= battle_damage.damage_sum
        - if params["show_dodge"]
          %td= battle_damage.dodge_count
        - if false
          %td= battle_damage.target.party.party_no if battle_damage.target.party
        - if params["group_battle_type"] == "1"
          %td.sep= battle_link(@latest_result, battle_damage.battle_info.battle_type, battle_damage.battle_info.battle_page, battle_damage.battle_info.result_no, battle_damage.battle_info.generate_no)
          %td= battle_old_link(@latest_result, battle_damage.battle_info.battle_type, battle_damage.battle_info.battle_page, battle_damage.battle_info.result_no, battle_damage.battle_info.generate_no)
        - else
          %td.sep= character_link(battle_damage.target.e_no)
          %td= character_old_link(@latest_result, battle_damage.target.e_no, battle_damage.target.result_no, battle_damage.target.generate_no)
= paginate(@battle_damages)
