- @page_title = "MISSION初突破一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "更新回", params_name: "result_no_form", placeholder: nil, colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "Eno", params_name: "e_no_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "pc_name_form", placeholder: "Name")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "戦闘の種類", params_name: "battle_type_form", colspan: 3, 
                    checkboxes: [{label: "ENCOUNTER - 『遭遇戦』『採集』", params_name: "is_encounter", class_name: "after_space", br: true},
                                 {label: "MISSION - 『開放戦』『特殊戦』", params_name: "is_mission"}])
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "敵名", params_name: "enemy_form", placeholder: "EnemyNames", colspan: 3)
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,  label: "パーティ人数", params_name: "member_num_form", colspan: 3,
                    checkboxes: [{label: "全人数", params_name: "member_num_0", class_name: "after_space"},
                                 {label: "1", params_name: "member_num_1", class_name: "after_space"},
                                 {label: "2", params_name: "member_num_2", class_name: "after_space"},
                                 {label: "3", params_name: "member_num_3", class_name: "after_space"},
                                 {label: "4", params_name: "member_num_4", class_name: "after_space"}])

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_world",
                    label: {open: "所属世界で絞り込む", close: "所属世界で絞り込みを隠す"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder,                         label: "所属世界", params_name: "world_form", colspan: 3, 
                    checkboxes: [{label: "イバラシティ", params_name: "is_ibaracity", class_name: "after_space mobile_br"},
                                 {label: "アンジニティ", params_name: "is_ansinity"}])

    - #==========================================================================================================================
    %tbody
      %tr.sep
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@new_defeat_enemies)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :result_no,"更新回", default_order: :desc)
      %th= sort_link(@search, :battle_type, "戦闘", default_order: :desc)
      %th= sort_link(@search, :enemy_id, "敵名", default_order: :desc)
      %th= sort_link(@search, :e_no,"キャラクター(Eno)", default_order: :desc)
      %th= sort_link(@search, :member_num, "PT人数", default_order: :desc)
      %th.sep{colspan: "2"} 結果リンク
  %tbody
    - @new_defeat_enemies.each do |new_defeat_enemy|
      %tr
        %td= new_defeat_enemy.result_no
        %td= battle_type_text(new_defeat_enemy)
        %td.text-nowrap{style: "#{ world_border(new_defeat_enemy.world) }" }= new_defeat_enemy.enemy.name if new_defeat_enemy.enemy
        %td
          - party_members_pc_name_text(new_defeat_enemy.party_info.party_members) if new_defeat_enemy.party_info && new_defeat_enemy.party_info.party_members
        %td= new_defeat_enemy.party_info.member_num if new_defeat_enemy.party_info 
        %td.sep= character_link(new_defeat_enemy.party_no)
        %td= character_old_link(@latest_result, new_defeat_enemy.party_no, new_defeat_enemy.result_no, new_defeat_enemy.generate_no)
= paginate(@new_defeat_enemies)
