!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title= page_title
    %meta{name: "viewport", content:"width=device-width, initial-scale=1"}
    %meta{http: {equiv: "X-UA-Compatible"}, content: "IE=edge"}
    = csrf_meta_tags
    = csp_meta_tag

    = favicon_link_tag('favicon.ico')
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload"
    = stylesheet_link_tag "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.7.2/css/all.min.css", media: "all"
    = javascript_include_tag "application", "data-turbolinks-track": "reload"
    = javascript_include_tag "https://www.gstatic.com/charts/loader.js"

  %body
    %nav.navbar.navbar-expand-md.fixed-top.navbar-light.bg-light.navbar-custom.p-0
      .container
        = link_to site_title, root_path, :class => "navbar-brand"
        %button.navbar-toggler{type: "button", data: {bs: {toggle: "collapse", target: "#navbarNavDropdown"}}, aria: {controls: "navbarNavDropdown", expanded: "false", label: "Toggle navigation"}}
          %span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNavDropdown
          %ul.navbar-nav
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#navbarDropdownMenuLink{ data: {bs: {:toggle =>"dropdown"}}, :href => "#", role: "button", aria: {expanded: "false"}}
                個人
                %span.caret
              .dropdown-menu
                = link_to "キャラクター名・PL名一覧", names_path, class: "dropdown-item"
                .dropdown-divider
                = link_to "現在地一覧", places_path, class: "dropdown-item"
                = link_to "パーティ情報一覧", party_infos_path, class: "dropdown-item"
                = link_to "スタイル一覧", styles_path, class: "dropdown-item"
                = link_to "影響力一覧", effects_path, class: "dropdown-item"
                = link_to "その他ステータス一覧", statuses_path, class: "dropdown-item"
                .dropdown-divider
                = link_to "エイド一覧", aides_path, class: "dropdown-item"
                = link_to "所持アイテム一覧", items_path, class: "dropdown-item"
                = link_to "所持異能・生産一覧", superpowers_path, class: "dropdown-item"
                = link_to ">　所持異能・生産・スキル組み合わせ一覧", superpower_combinations_path, class: "dropdown-item"
                = link_to "所持スキル一覧", skills_path, class: "dropdown-item"
                = link_to ">　スキル習得者数ランキング", skills_path + "?show_total=1&exclude_initial_active=on&exclude_initial_passive=on&ex_sort=on", class: "dropdown-item"
                = link_to "所持カード一覧", cards_path, class: "dropdown-item"
                = link_to "研究済スキル一覧", studies_path, class: "dropdown-item"
                = link_to ">　研究済スキルランキング", studies_path + "?group_skill=on&ex_sort=on", class: "dropdown-item"
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#navbarDropdownMenuLink{ data: {bs: {:toggle =>"dropdown"}}, :href => "#", role: "button", aria: {expanded: "false"}}
                行動
                %span.caret
              .dropdown-menu
                = link_to "食事一覧", meals_path, class: "dropdown-item"
                = link_to "合成一覧", compounds_path, class: "dropdown-item"
                = link_to ">　合成結果一覧", compounds_path + "?result_no_form=""&compound_deficient_lv=off&group_result=on", class: "dropdown-item"
                = link_to ">　合成組み合わせ一覧", compounds_path + "?result_no_form=""&group_source=on", class: "dropdown-item"
                = link_to "作製一覧", makes_path, class: "dropdown-item"
                = link_to "料理一覧", cooks_path, class: "dropdown-item"
                = link_to ">　料理時パッシブ発動一覧", cook_passives_path, class: "dropdown-item"
                = link_to "付加一覧", additions_path, class: "dropdown-item"
                = link_to ">　付加時パッシブ発動一覧", addition_passives_path, class: "dropdown-item"
                = link_to "カード作成一覧", make_cards_path, class: "dropdown-item"
                = link_to "スキル研究一覧", onetime_studies_path, class: "dropdown-item"
                = link_to ">　スキル研究ランキング", onetime_studies_path + "?group_skill=on&ex_sort=on", class: "dropdown-item"
                = link_to "ドロップアイテム一覧", drop_items_path, class: "dropdown-item"
                = link_to "エイド化候補一覧", aide_candidates_path, class: "dropdown-item"
                = link_to "移動一覧", moves_path, class: "dropdown-item"
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#navbarDropdownMenuLink{ data: {bs: {:toggle =>"dropdown"}}, :href => "#", role: "button", aria: {expanded: "false"}}
                戦闘
                %span.caret
              .dropdown-menu{aria: {labelledby: "two-col"}}
                = link_to "次回予告NPC戦一覧", next_battle_infos_path, class: "dropdown-item"
                = link_to "次回予告対人戦一覧", next_duel_infos_path, class: "dropdown-item"
                = link_to "NPC戦勝敗一覧", battle_results_path, class: "dropdown-item"
                = link_to "対人戦勝敗一覧", duel_infos_path, class: "dropdown-item"
                = link_to "装備一覧", battle_equips_path, class: "dropdown-item"
                = link_to "スキル・付加発動組合わせ", battle_use_skill_concatenations_path, class: "dropdown-item"
                .dropdown-divider
                = link_to "スキル・付加発動結果一覧", battle_actions_path + "?no_count=on", class: "dropdown-item one-item"
                = link_to ">　スキル発動回数ランキング", battle_actions_path + "?act_type_fuka=off&show_group=1&group_page=off&total_act=on&ex_sort=on", class: "dropdown-item"
                = link_to ">　付加発動回数ランキング", battle_actions_path +   "?act_type_skill=off&show_group=1&group_page=off&total_act=on&ex_sort=on", class: "dropdown-item"
                .dropdown-divider
                .dropdown-item{class: "dropdown-item one-item no-link"} 戦闘ランキング（単発）
                = link_to ">　ダメージ", battle_ranking_singles_path + "?damage_type_damage=on&show_acter=1&show_damage=1&sort_damage=on", class: "dropdown-item"
                = link_to ">　SPダメージ", battle_ranking_singles_path + "?damage_type_sp_damage=on&show_acter=1&show_damage=1&sort_damage=on", class: "dropdown-item"
                = link_to ">　回復", battle_ranking_singles_path + "?damage_type_heal=on&show_acter=1&show_damage=1&sort_damage=on", class: "dropdown-item"
                = link_to ">　クリティカル", battle_ranking_singles_path + "?damage_type_damage=on&show_acter=1&show_damage=1&show_critical=1&sort_critical=on", class: "dropdown-item"
                = link_to ">　深度", battle_ranking_singles_path + "?damage_type_abnormal=on&show_acter=1&show_damage=1&show_abnormal=1&sort_damage=on", class: "dropdown-item"
                .dropdown-item{class: "dropdown-item one-item no-link"} 戦闘ランキング（スキル一回）
                = link_to ">　ダメージ", battle_ranking_sk_totals_path + "?damage_type_damage=on&show_acter=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on", class: "dropdown-item"
                = link_to ">　SPダメージ", battle_ranking_sk_totals_path + "?damage_type_sp_damage=on&show_acter=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on", class: "dropdown-item"
                = link_to ">　回復", battle_ranking_sk_totals_path + "?damage_type_heal=on&show_acter=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on", class: "dropdown-item"
                = link_to ">　深度", battle_ranking_sk_totals_path + "?damage_type_abnormal=on&show_acter=1&show_damage=1&show_abnormal=1&acter_pc=on&sort_total_damage=on&ex_sort=on", class: "dropdown-item"
                .dropdown-item{class: "dropdown-item one-item no-link"} 戦闘ランキング（キャラ合計）
                = link_to ">　ダメージ", battle_ranking_totals_path + "?damage_type_damage=on&show_acter=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on", class: "dropdown-item"
                = link_to ">　SPダメージ", battle_ranking_totals_path + "?damage_type_sp_damage=on&show_acter=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on", class: "dropdown-item"
                = link_to ">　回復", battle_ranking_totals_path + "?damage_type_heal=on&show_acter=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on", class: "dropdown-item"
                = link_to ">　深度", battle_ranking_totals_path + "?damage_type_abnormal=on&show_acter=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on", class: "dropdown-item"
                = link_to ">　被ダメージ", battle_ranking_tg_totals_path + "?damage_type_damage=on&show_target=1&target_pc=on&show_damage=1&sort_total_damage=on&ex_sort=on", class: "dropdown-item"
                = link_to ">　被回復", battle_ranking_tg_totals_path + "?damage_type_heal=on&show_target=1&target_pc=on&show_damage=1&sort_total_damage=on&ex_sort=on", class: "dropdown-item"
                = link_to ">　ふふぁさー", battle_ranking_tg_totals_path + "?damage_type_dodge=on&damage_type_dodge_protection=on&show_target=1&target_pc=on&show_dodge=1&sort_total_dodge=on&ex_sort=on", class: "dropdown-item"
                .dropdown-item{class: "dropdown-item one-item no-link"} 戦闘ランキング（PT合計）
                = link_to ">　ダメージ", battle_ranking_pt_totals_path + "?damage_type_damage=on&show_acter_pt=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on", class: "dropdown-item"
                = link_to ">　SPダメージ", battle_ranking_pt_totals_path + "?damage_type_sp_damage=on&show_acter_pt=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on", class: "dropdown-item"
                = link_to ">　回復", battle_ranking_pt_totals_path + "?damage_type_heal=on&show_acter_pt=1&show_damage=1&acter_pc=on&sort_total_damage=on&ex_sort=on", class: "dropdown-item"
                = link_to ">　深度", battle_ranking_pt_totals_path + "?damage_type_abnormal=on&show_acter_pt=1&show_damage=1&show_abnormal=1&acter_pc=on&sort_total_damage=on&ex_sort=on", class: "dropdown-item"
                = link_to ">　被ダメージ", battle_ranking_pt_tg_totals_path + "?damage_type_damage=on&show_target=1&show_target_pt=1&target_pc=on&show_damage=1&sort_total_damage=on&ex_sort=on", class: "dropdown-item"
                = link_to ">　ふふぁさー", battle_ranking_pt_tg_totals_path + "?damage_type_dodge=on&damage_type_dodge_protection=on&show_target_pt=1&target_pc=on&show_dodge=1&sort_total_dodge=on&ex_sort=on", class: "dropdown-item"
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#navbarDropdownMenuLink{ data: {bs: {:toggle =>"dropdown"}}, :href => "#", role: "button", aria: {expanded: "false"}}
                グラフ
                %span.caret
              .dropdown-menu
                = link_to "所属世界グラフ", world_graphs_path, class: "dropdown-item"
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#navbarDropdownMenuLink{ data: {bs: {:toggle =>"dropdown"}}, :href => "#", role: "button", aria: {expanded: "false"}}
                新出
                %span.caret
              .dropdown-menu
                = link_to "新出素材一覧", new_items_path, class: "dropdown-item"
                = link_to "新出アイテム付加効果一覧", new_item_fukas_path, class: "dropdown-item"
                = link_to "新出発動スキル・付加一覧", new_actions_path, class: "dropdown-item"
                = link_to "新出予告NPC一覧", new_next_enemies_path, class: "dropdown-item"
                = link_to ">　新出予告MISSION一覧", new_next_enemies_path + "?is_form=1&is_mission=on", class: "dropdown-item"
                = link_to "初戦闘NPC一覧", new_battle_enemies_path, class: "dropdown-item"
                = link_to ">　初戦闘MISSION一覧", new_battle_enemies_path + "?is_form=1&is_mission=on", class: "dropdown-item"
                = link_to "MISSION初突破一覧", new_defeat_enemies_path, class: "dropdown-item"

    .container
      .row
        .col-md-12
          - uploading_alert(@latest_result, @uploaded_result)
          = yield

      %footer
        %p
          Twitter：#{link_to "@data_teiki", "http://twitter.com/data_teiki"}
          %br
          制作：#{link_to "@white_mns", "http://twitter.com/white_mns"}
          %br
          = link_to "プライバシーポリシー", top_page_privacy_path
          %br
          %br
          ソースコード [#{link_to "解析部分", "https://github.com/white-mns/ibara_parse"}] [#{link_to "表示部分", "https://github.com/white-mns/ibara_rails"}]
          %br
          #{link_to "前期：荊街テストプレイ データ小屋", "https://data.teiki.org/ibara_0/"}
          %br
          #{link_to "その他ゲームのデータ小屋", "https://data.teiki.org/"}
      = render "layouts/analytics"
