!!!
%html
  %head
    %meta{charset: "utf-8"}
    %title= page_title
    %meta{name: "viewport", content:"width=device-width, initial-scale=1"}
    %meta{http: {equiv: "X-UA-Compatible"}, content: "IE=edge"}
    = csrf_meta_tags
    = csp_meta_tag

    = favicon_link_tag('favicon.ico')
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload"
    = stylesheet_link_tag "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.7.2/css/all.min.css", media: "all"
    = javascript_include_tag "application", "data-turbolinks-track": "reload"
    = javascript_include_tag "https://www.gstatic.com/charts/loader.js"

  %body
    %nav.navbar.navbar-expand-md.fixed-top.navbar-light.bg-light.navbar-custom.p-0
      .container
        = link_to "荊街テストプレイ データ小屋", root_path, :class => "navbar-brand"
        %button.navbar-toggler{type: "button", data: {bs: {toggle: "collapse", target: "#navbarNavDropdown"}}, aria: {controls: "navbarNavDropdown", expanded: "false", label: "Toggle navigation"}}
          %span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNavDropdown
          %ul.navbar-nav
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#navbarDropdownMenuLink{ data: {bs: {:toggle =>"dropdown"}}, :href => "#", role: "button", aria: {expanded: "false"}}
                個人
                %span.caret
              .dropdown-menu
                = link_to "キャラクター名・PL名一覧", names_path, class: "dropdown-item"
                .dropdown-divider
                = link_to "現在地一覧", places_path, class: "dropdown-item"
                = link_to "パーティ情報一覧", party_infos_path, class: "dropdown-item"
                = link_to "スタイル一覧", styles_path, class: "dropdown-item"
                = link_to "影響力一覧", effects_path, class: "dropdown-item"
                = link_to "その他ステータス一覧", statuses_path, class: "dropdown-item"
                .dropdown-divider
                = link_to "所持アイテム一覧", items_path, class: "dropdown-item"
                = link_to "所持異能・生産一覧", superpowers_path, class: "dropdown-item"
                = link_to "所持スキル一覧", skills_path, class: "dropdown-item"
                = link_to ">　スキル習得者数ランキング", skills_path + "?show_total=1&exclude_initial_active=on&exclude_initial_passive=on&ex_sort=on", class: "dropdown-item"
                = link_to "所持カード一覧", cards_path, class: "dropdown-item"
                = link_to "スキル研究一覧", studies_path, class: "dropdown-item"
                = link_to ">　スキル研究ランキング", studies_path + "?group_skill=on&ex_sort=on", class: "dropdown-item"
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#navbarDropdownMenuLink{ data: {bs: {:toggle =>"dropdown"}}, :href => "#", role: "button", aria: {expanded: "false"}}
                行動
                %span.caret
              .dropdown-menu
                = link_to "食事一覧", meals_path, class: "dropdown-item"
                = link_to "合成一覧", compounds_path, class: "dropdown-item"
                = link_to ">　合成結果一覧", compounds_path + "?result_no_form=""&compound_deficient_lv=off&group_result=on", class: "dropdown-item"
                = link_to ">　合成組み合わせ一覧", compounds_path + "?result_no_form=""&group_source=on", class: "dropdown-item"
                = link_to "移動一覧", moves_path, class: "dropdown-item"
                = link_to "次回予告NPC戦一覧", next_battle_infos_path, class: "dropdown-item"
                = link_to "次回予告対人戦一覧", next_duel_infos_path, class: "dropdown-item"
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#navbarDropdownMenuLink{ data: {bs: {:toggle =>"dropdown"}}, :href => "#", role: "button", aria: {expanded: "false"}}
                戦闘
                %span.caret
              .dropdown-menu
                = link_to "NPC戦勝敗一覧", battle_results_path, class: "dropdown-item"
                = link_to "対人戦勝敗一覧", duel_infos_path, class: "dropdown-item"
                .dropdown-divider
                = link_to "スキル・付加発動結果一覧", battle_actions_path, class: "dropdown-item"
                = link_to ">　スキル発動回数ランキング", battle_actions_path + "?act_type_fuka=off&show_group=1&group_page=off&total_act=on&ex_sort=on", class: "dropdown-item"
                = link_to ">　付加発動回数ランキング", battle_actions_path +   "?act_type_skill=off&show_group=1&group_page=off&total_act=on&ex_sort=on", class: "dropdown-item"
                .dropdown-divider
                .dropdown-item 戦闘ランキング（単発）
                = link_to ">　最大与ダメージランキング", battle_ranking_singles_path + "?damage_type_damage=on&show_acter=1&show_damage=1&sort_damage=on", class: "dropdown-item"
                = link_to ">　最大クリティカルランキング", battle_ranking_singles_path + "?damage_type_damage=on&show_acter=1&show_damage=1&show_critical=1&sort_critical=on", class: "dropdown-item"
                .dropdown-item 戦闘ランキング（合計）
                = link_to ">　ふふぁさーランキング", battle_ranking_totals_path + "?damage_type_dodge=on&show_target=1&target_pc=on&show_dodge=1&sort_total_dodge=on&ex_sort=on", class: "dropdown-item"
                .dropdown-item 戦闘ランキング（PT合計）
                = link_to ">　ふふぁさーPTランキング", battle_ranking_pt_totals_path + "?damage_type_dodge=on&show_target_pt=1&target_pc=on&show_dodge=1&sort_total_dodge=on&ex_sort=on", class: "dropdown-item"
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#navbarDropdownMenuLink{ data: {bs: {:toggle =>"dropdown"}}, :href => "#", role: "button", aria: {expanded: "false"}}
                グラフ
                %span.caret
              .dropdown-menu
                = link_to "所属世界グラフ", world_graphs_path, class: "dropdown-item"
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle#navbarDropdownMenuLink{ data: {bs: {:toggle =>"dropdown"}}, :href => "#", role: "button", aria: {expanded: "false"}}
                新出
                %span.caret
              .dropdown-menu
                = link_to "新出アイテム付加一覧", new_item_fukas_path, class: "dropdown-item"
                = link_to "新出発動スキル・付加一覧", new_actions_path, class: "dropdown-item"
                = link_to "新出予告NPC一覧", new_next_enemies_path, class: "dropdown-item"
                = link_to "初戦闘NPC一覧", new_battle_enemies_path, class: "dropdown-item"

    .container
      .row
        .col-md-12
          = yield
      
      %footer
        %p
          制作#{link_to "@white_mns", "http://twitter.com/white_mns"}
          %br
          = link_to "プライバシーポリシー", top_page_privacy_path
          %br
          %br
          ソースコード [#{link_to "解析部分", "https://github.com/white-mns/ibara_parse"}] [#{link_to "表示部分", "https://github.com/white-mns/ibara_rails"}]
          %br
          #{link_to "本番：荊街データ小屋", "https://data.teiki.org/ibara/"}
          %br
          #{link_to "その他ゲームのデータ小屋", "https://data.teiki.org/"}
      = render "layouts/analytics"
